<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
        <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
        <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
        <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
        <title>后台管理</title>
    </head>

    <body class="body_ifm">
        <form class="layui-form">
            <div class="infoboxp">
				<div class="tty-tishi_top">
                <div class="tabs_info">
                    <ul>
                        <li>
                            <a href="index.php?m=admin_comset">企业设置</a>
                        </li>
                        <li>
                            <a href="index.php?m=admin_comset&c=logo">头像设置</a>
                        </li>
                        <li>
                            <a href="index.php?m=admin_comset&c=comspend">消费设置</a>
                        </li>
                        <li class="curr">
                            <a href="index.php?m=admin_comset&c=rating">套餐设置</a>
                        </li>
                    </ul>
                </div>

                <div class="admin_new_tip">
                    <a href="javascript:;" class="admin_new_tip_close"></a>
                    <a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
                    <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
                    <div class="admin_new_tip_list_cont">
                        <div class="admin_new_tip_list">注：该页面的功能设置，不会对现有的数据生效，只对后产生的数据生效，请根据需要，谨慎设置。</div>
                    </div>
                </div>
                <div class="clear"></div>
                    <div class="tag_box">
                        <div>
                            <table width="100%" class="table_form">
                                <tr class="admin_table_trbg">
                                    <th width="200" style="float: left;padding-top: 20px;">企业会员模式：</th>
                                    <td>
                                        <div class="admin_rating_config_box">
                                            <div class="admin_rating_config_box_list">
                                                <input type="radio" name="com_vip_type" lay-filter="com_vip_type" value="1" title="时间模式" {yun:}if $config.com_vip_type==1{/yun}checked{yun:}/if{/yun}>
                                                <input type="radio" name="com_vip_type" lay-filter="com_vip_type" value="2" title="套餐模式" {yun:}if $config.com_vip_type==2{/yun}checked{yun:}/if{/yun}>
                                                <input type="radio" name="com_vip_type" lay-filter="com_vip_type" value="0" title="同时开启" {yun:}if $config.com_vip_type==0{/yun}checked{yun:}/if{/yun}>
                                                <div class="clear"></div>
                                                <span class="admin_web_tip" style="margin-left:0px;">注：时间模式，在设置的时间内，不受套餐数限制，但是有每日上限操作。</span>
                                                <div class="clear"></div>
                                                <span class="admin_web_tip" style="margin-left:0px;">注：套餐模式，在设置的时间内，受套餐数限制，用完即止。</span>
                                            </div>
                                        </div>

                                    </td>
                                </tr>

                                <tr>
                                    <th width="200" style="float: left;padding-top: 20px;">套餐消费模式：</th>
                                    <td>
                                        <div class="admin_rating_config_box">
                                            <div class="admin_rating_config_box_list">
                                                <input type="radio" name="com_integral_online" value="1" title="抵扣消费" {yun:}if $config.com_integral_online==1{/yun}checked{yun:}/if{/yun}>
                                                <input type="radio" name="com_integral_online" value="2" title="金额消费" {yun:}if $config.com_integral_online==2{/yun}checked{yun:}/if{/yun}>
                                                <input type="radio" name="com_integral_online" value="3" title="{yun:}$config.integral_pricename{/yun}消费" {yun:}if $config.com_integral_online==3{/yun}checked{yun:}/if{/yun}>
                                                <input type="radio" name="com_integral_online" value="4" title="套餐消费" {yun:}if $config.com_integral_online==4{/yun}checked{yun:}/if{/yun}>
                                                <div class="clear"></div>
                                                <span class="admin_web_tip" style="margin-left:0px;">抵扣消费：账户积分抵扣部分或者全部金额操作！在会员套餐使用完的情况下，会员可以通过{yun:}$config.integral_pricename{/yun}抵扣金额，或者购买会员的方式进行消费的模式</span>
                                                <div class="clear"></div>
                                                <span class="admin_web_tip" style="margin-left:0px;">金额消费：在会员套餐使用完的情况下，会员通过消费金额，或者购买会员的方式进行套餐相关的操作</span>
                                                <div class="clear"></div>
                                                <span class="admin_web_tip" style="margin-left:0px;">{yun:}$config.integral_pricename{/yun}消费：在会员套餐使用完的情况下，会员通过购买消费账户积分，或者购买会员的方式进行套餐相关的操作</span>
                                                <div class="clear"></div>
                                                <span class="admin_web_tip" style="margin-left:0px;">套餐消费：在会员套餐使用完的情况下，会员仅可购买会员才可以继续进行套餐内操作</span>
                                            </div>

                                        </div>

                                    </td>
                                </tr>

								<tr>
                                    <th width="200" style="float: left;padding-top: 20px;">会员套餐消费模式：</th>
                                    <td>
                                        <div class="admin_rating_config_box">
                                            <div class="admin_rating_config_box_list">
                                                
												<input type="radio" name="member_meal" value="0" title="跟随服务消费模式" {yun:}if $config.member_meal==0{/yun}checked{yun:}/if{/yun}>
                                                
												<input type="radio" name="member_meal" value="1" title="强制金额消费" {yun:}if $config.member_meal==1{/yun}checked{yun:}/if{/yun}>
                                                
                                                <div class="clear"></div>
                                                <span class="admin_web_tip" style="margin-left:0px;">强制金额消费：无论服务消费模式如何设定，企业在升级、续费会员时，必须使用金额进行消费。</span>
                                                <div class="clear"></div>
                                                <span class="admin_web_tip" style="margin-left:0px;">说明：会员服务作为招聘网主要收入来源，您可能需要差异化地设定来切合运营需求，该设置目的是让站长在设定积分消费模式的情况下不影响主体营收。</span>
                                                
                                            </div>

                                        </div>

                                    </td>
                                </tr>

                                <tr>
                                    <th width="200">购买会员套餐累加：</th>
                                    <td>
                                        <div class="admin_rating_config_box">

                                            <div class="admin_rating_config_box_list">
                                                <input type="radio" name="package_data_acc" value="1" title="开启" {yun:}if $config.package_data_acc==1{/yun}checked{yun:}/if{/yun}>
                                                <input type="radio" name="package_data_acc" value="2" title="关闭" {yun:}if $config.package_data_acc==2{/yun}checked{yun:}/if{/yun}>
                                                <span class="admin_web_tip">会员在套餐未到期的情况下，重复购买，是否累加数量或日期。</span>
                                            </div>
                                        </div>

                                    </td>
                                </tr>

                                <tr class="admin_table_trbg">
                                    <th width="200" style="float: left;padding-top: 10px;">企业注册默认等级：</th>
                                    {yun:}if is_array($qy_rows){/yun}
                                    <td>

                                        <div class="admin_rating_config_box">
                                            <div class="layui-input-block">
                                                {yun:}foreach item=v from=$qy_rows{/yun}
                                                <input type="radio" name="com_rating" value="{yun:}$v.id{/yun}" title="{yun:}$v.name{/yun}" {yun:}if $config.com_rating==$v.id{/yun}checked{yun:}/if{/yun}> {yun:}/foreach{/yun}
                                            </div>
                                        </div>
                                    </td>
                                    {yun:}else{/yun}
                                    <td>
                                        <div class="iradio_flat_height">
                                            暂无等级，
                                            <a href="index.php?m=userconfig&c=comclass" style="color:red;">添加会员等级</a>
                                            <input type="hidden" name="com_rating" value="0">
                                        </div>
                                    </td>
                                    {yun:}/if{/yun}
                                </tr>
                                <tr>
                                    <th width="200">会员到期后默认为：</th>
                                    <td>
                                        <div class="admin_rating_config_box">
                                            <div class="admin_rating_config_box_list">
                                                <input type="radio" name="com_vip_done" value="1" title="系统会员" {yun:}if $config.com_vip_done==1{/yun}checked{yun:}/if{/yun}>
                                                <input type="radio" name="com_vip_done" value="0" title="过期会员" {yun:}if $config.com_vip_done==0{/yun}checked{yun:}/if{/yun}>
                                                <span class="admin_web_tip">‘系统会员’，即企业注册默认等级会员</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th width="200" style="float: left;">免费查看投递简历：</th>
                                    {yun:}if is_array($qy_rows){/yun}
                                    <td>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                {yun:}foreach item=v from=$qy_rows{/yun}
                                                <input type="checkbox" name="com_look" value="{yun:}$v.id{/yun}" title="{yun:}$v.name{/yun}" {yun:}if in_array($v.id,$com_look){/yun}checked{yun:}/if{/yun}> {yun:}/foreach{/yun}

                                            </div>
                                            <span class="admin_web_tip">求职者主动投递简历给企业，该企业是否可以免费查看，选择对应会员类别，则可以免费查看。</span>
                                        </div>
                                    </td>
                                    {yun:}else{/yun}
                                    <td>
                                        <div class="iradio_flat_height">
                                            暂无等级，
                                            <a href="index.php?m=userconfig&c=comclass" style="color:red;">添加会员等级</a>
                                            <input type="hidden" name="com_rating" value="0">
                                        </div>
                                    </td>
                                    {yun:}/if{/yun}

                                </tr>
                                <tr>
                                    <tr class="admin_table_trbg">
                                        <th width="200">&nbsp;</th>
                                        <td align="left">
                                            <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
                                            <input class="layui-btn tty_sub" id="mconfig" type="button" name="config" value="提交" />&nbsp;&nbsp;
                                            <input class="layui-btn tty_cz" type="reset" value="重置" /></td>
                                    </tr>
                            </table>
                        </div>

                    </div>
                </div>
                <script>
                    layui.use(['form'], function() {
                        var form = layui.form,
                            $ = layui.$;

                        form.on('radio(com_vip_type)', function(data) {
                            if(data.value == 2) {
                                $("#timeVipLimit").hide();
                            } else {
                                $("#timeVipLimit").show();
                            }
                        })
                    });
                    $(function() {
                        $("#mconfig").click(function() {
                            var com_look = "";
                            $('input[name="com_look"]:checked').each(function() {
                                if(com_look == "") {
                                    com_look = $(this).val();
                                } else {
                                    com_look = com_look + "," + $(this).val();
                                }
                            });
							loadlayer();
                            $.post("index.php?m=admin_comset&c=save", {
                                config: $("#mconfig").val(),
                                com_rating: $("input[name=com_rating]:checked").val(),
                                com_integral_online: $("input[name=com_integral_online]:checked").val(),
                                member_meal: $("input[name=member_meal]:checked").val(),
                                package_data_acc: $("input[name=package_data_acc]:checked").val(),
                                com_vip_type: $("input[name=com_vip_type]:checked").val(),
                                com_vip_done: $("input[name=com_vip_done]:checked").val(),
                                 

                                isDayActionAllCheck: $("#isDayActionAllCheck").attr('checked') ? 1 : 0,
                                isDayActionZeroCostCheck: $("#isDayActionZeroCostCheck").attr('checked') ? 1 : 0,
                                com_look: com_look,

                                pytoken: $("#pytoken").val()
                            }, function(data, textStatus) {
								parent.layer.closeAll('loading');
                                config_msg(data);
                            });
                        });
                    })
                </script>
            </div>
        </form>
    </body>

</html>