<div class="sidebar">
	<div class="left_box">
		
		<ul class="left_nav_ul  {yun:}if $js_def!=1{/yun}none{yun:}/if{/yun}" id='def1'>
		
			<li class="left_nav_newcur">
				<span><a href="index.php?" title="首页"><i class="com_left_icon com_left_icon_index"></i>首页</a></span>
			</li>
				
			{yun:}if empty($spid){/yun}
				<li><span><a href="index.php?c=info" title="基本信息"><i class="com_left_icon com_left_icon_info"></i>基本信息</a></span></li>
			{yun:}/if{/yun}
			<li>
				<span><a href="javascript:void(0)"  onclick="jobadd_url('{yun:}$addjobnum{/yun}','{yun:}$config.integral_job{/yun}','','{yun:}$config.com_integral_online{/yun}','{yun:}$config.integral_proportion{/yun}');return false;" title="发布职位"><i class="com_left_icon com_left_icon_fbzw"></i>发布职位</a></span>
			</li>
			<li>
				<span><a href="index.php?c=job&w=1" title="职位管理"><i class="com_left_icon com_left_icon_zwgl"></i>职位管理</a></span>
			</li>
			{yun:}if empty($spid){/yun}
				<li {yun:}if $smarty.get.c=="right" && $smarty.get.act=="" || $smarty.get.c=="right" && $smarty.get.act=="time" || $smarty.get.c=="right" && $smarty.get.act=="added" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style12" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=right">
							<i class="com_left_icon com_left_icon_vip"></i>VIP招聘服务
							<i class="com_icon com_icon_new"></i>
						</a>
					</span>
				</li>
			{yun:}/if{/yun}

			<li {yun:}if $smarty.get.c=="hr" || $smarty.get.c=="down" || $smarty.get.c=="talent_pool" || $smarty.get.c=="look_resume" || $smarty.get.c=="record" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style01" {yun:}/if{/yun}>
			<a href="index.php?c=hr" title="我的简历"><i class="com_left_icon com_left_icon_jl"></i>我的简历</a>
			</li>
               <li {yun:}if $smarty.get.c=="invite"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
				<span><a href="index.php?c=invite" title="已邀请面试的人才"><i class="com_left_icon com_left_icon_yq"></i>面试邀请</a></span>
			</li>

			<li><span><a href="index.php?c=paylogtc" title="会员套餐"><i class="com_left_icon com_left_icon_fuwu"></i>我的服务</a></span></li>

        	<li {yun:}if $smarty.get.c=="tongji" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07"{yun:}/if{/yun}>
				<span><a href="index.php?c=tongji"><i class="com_left_icon com_left_icon_fx"></i>招聘分析</a></span>
			</li>
			{yun:}if empty($spid){/yun}
           	<li {yun:}if $smarty.get.c=="pay"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style05" {yun:}/if{/yun}>
				<span>
					<a href="index.php?c=pay" title="充值{yun:}$config.integral_pricename{/yun}">
						<i class="com_left_icon com_left_icon_cz"></i>充值{yun:}$config.integral_pricename{/yun}
					</a>
				</span>
			</li>
			<li {yun:}if $smarty.get.c=="binding"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
				<span><a href="index.php?c=binding"><i class="com_left_icon com_left_icon_bd"></i>账户绑定</a></span>
			</li>
			{yun:}/if{/yun}


		</ul>
		
		
		<ul class="left_nav_ul  {yun:}if $js_def!=2{/yun}none{yun:}/if{/yun}" id='def2'>
			<li {yun:}if $smarty.get.c=="job" || $smarty.get.c=='likeresume'{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
				<span>
					<a href="index.php?c=job&w=1" title="发布中的职位"><i class="com_left_icon com_left_icon_zwgl"></i>职位管理</a>
				</span>
			</li>

			<li {yun:}if $smarty.get.c=="jobadd" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
				<span>
					<a href="javascript:void(0)"  onclick="jobadd_url('{yun:}$addjobnum{/yun}','{yun:}$config.integral_job{/yun}','','{yun:}$config.com_integral_online{/yun}','{yun:}$config.integral_proportion{/yun}');return false;" class="f60 bold">
						<i class="com_left_icon com_left_icon_fb"></i>发布新职位
					</a>
				</span>
			</li>
			
			{yun:}if $config.sy_zph_web==1{/yun}
			<li {yun:}if $smarty.get.c=="zhaopinhui"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
				<span><a href="index.php?c=zhaopinhui"><i class="com_left_icon com_left_iconzph"></i>招聘会记录</a></span>
			</li>
			{yun:}/if{/yun}
			{yun:}if $config.sy_special_web==1{/yun}
			<li {yun:}if $smarty.get.c=="special"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
				<span><a href="index.php?c=special"><i class="com_left_icon com_left_icon_zt"></i>专题招聘</a></span>
			</li>
			{yun:}/if{/yun}
			{yun:}if $config.sy_part_web==1{/yun}
			<li {yun:}if $smarty.get.c=="partadd"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
				<span>
					<a onclick="jobadd_url('{yun:}$addjobnum{/yun}','{yun:}$config.integral_job{/yun}','part','{yun:}$config.com_integral_online{/yun}','{yun:}$config.integral_proportion{/yun}');" title="发布兼职" class="f60 bold" style="cursor:pointer"><i class="com_left_icon com_left_icon_jz"></i>发布兼职</a>
				</span>
			</li>
			<li {yun:}if $smarty.get.c=="partok" || $smarty.get.c=="part"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
				<span><a href="index.php?c=partok&w=1" title="全部兼职"><i class="com_left_icon com_left_icon_jzgl"></i>兼职管理</a></span>
			</li>
			<li {yun:}if $smarty.get.c=="partapply"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
				<span><a href="index.php?c=partapply" title="兼职报名"><i class="com_left_icon com_left_iconbm"></i>兼职报名</a></span>
			</li>
			{yun:}/if{/yun}
			
			<li {yun:}if $smarty.get.c=="tongji"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
				<span><a href="index.php?c=tongji"><i class="com_left_icon com_left_icon_fx"></i>招聘分析</a></span>
			</li>
			
		</ul>


		<ul class="left_nav_ul  {yun:}if $js_def!=3{/yun}none{yun:}/if{/yun}" id='def3'>
			<li {yun:}if $smarty.get.c=="hr"|| $smarty.get.c=="down" || $smarty.get.c=="talent_pool" || $smarty.get.c=="look_resume" || $smarty.get.c=="record" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style01" {yun:}/if{/yun}>
				<a href="index.php?c=hr" title="我的简历" {yun:}if $newResumeNum > 0{/yun}style=""{yun:}/if{/yun}><i class="com_left_icon com_left_icon_jl"></i>我的简历</a>
			</li>
			<li {yun:}if $smarty.get.c=="resume"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06"{yun:}/if{/yun}>
				<span>
					<a href="index.php?c=resume" class="f60">
						<i class="com_left_icon com_left_icon_search"></i>搜人才
						<i class="com_icon com_icon_new"></i>
					</a>
				</span>
			</li>
			
			<li {yun:}if $smarty.get.c=="invite"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
				<span><a href="index.php?c=invite" title="已邀请面试的人才"><i class="com_left_icon com_left_icon_yq"></i>面试邀请</a></span>
			</li>
			<li {yun:}if $smarty.get.c=="subscribe"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06" {yun:}/if{/yun}>
				<span><a href="index.php?c=subscribe"><i class="com_left_icon com_left_icon_dingyue"></i>人才订阅</a></span>
			</li>
			<li {yun:}if $smarty.get.c=="finder"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06" {yun:}/if{/yun}>
				<span><a href="index.php?c=finder"><i class="com_left_icon com_left_icon_ssq"></i>人才搜索器</a></span>
			</li>
			<li {yun:}if $smarty.get.c=="attention_me"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06" {yun:}/if{/yun}>
				<span><a href="index.php?c=attention_me" ><i class="com_left_icon com_left_icon_gz"></i>关注我的人才</a></span>
			</li>
			<li {yun:}if $smarty.get.c=="look_job"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06" {yun:}/if{/yun}>
				<span><a href="index.php?c=look_job"><i class="com_left_icon com_left_icon_eye"></i>被浏览的职位</a></span>
			</li>
			
		</ul>

		

		<ul class="left_nav_ul  {yun:}if $js_def!=4{/yun}none{yun:}/if{/yun}" id='def4'>
			
			<li {yun:}if $smarty.get.c=="paylogtc"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style08" {yun:}/if{/yun}>
				<span><a href="index.php?c=paylogtc" title="我的服务"><i class="com_left_icon com_left_icon_fuwu"></i>我的服务</a></span>
			</li>
			{yun:}if empty($spid){/yun}
			<li {yun:}if $smarty.get.c=="pay"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style05" {yun:}/if{/yun}>
				<span>
					<a href="index.php?c=pay" title="充值{yun:}$config.integral_pricename{/yun}">
				<i class="com_left_icon com_left_icon_cz"></i>充值{yun:}$config.integral_pricename{/yun}
					</a>
				</span>
			</li>
			{yun:}/if{/yun}
			
			{yun:}if empty($spid){/yun}
			<li {yun:}if $smarty.get.c=="right" && $smarty.get.act=="" || $smarty.get.c=="right" && $smarty.get.act=="time" || $smarty.get.c=="right" && $smarty.get.act=="added" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style12" {yun:}/if{/yun}>
				<span>
					<a href="index.php?c=right">
						<i class="com_left_icon com_left_icon_vip"></i>VIP招聘服务
						<i class="com_icon com_icon_new"></i>
					</a>
				</span>
			</li>
			<li {yun:}if $smarty.get.c=="paylog" || $smarty.get.c=='payment' {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style09" {yun:}/if{/yun}>
				<span><a href="index.php?c=paylog" title="财务明细"><i class="com_left_icon com_left_icon_mx"></i>财务明细</a></span>
			</li>


			<li {yun:}if $smarty.get.c=="integral" || $smarty.get.c=="reward_list" || $smarty.get.c=="integral_reduce"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style12" {yun:}/if{/yun}>
				<span>
					<a href="index.php?c=integral"><i class="com_left_icon com_left_icon_gl"></i>{yun:}$config.integral_pricename{/yun}管理</a>
				</span>
			</li>
			{yun:}/if{/yun}

			
		</ul>

		<ul class="left_nav_ul  {yun:}if $js_def!=5{/yun}none{yun:}/if{/yun}" id='def5'>
			
			<li {yun:}if $smarty.get.c=="vs"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
				<span><a href="index.php?c=vs" title="修改密码"><i class="com_left_icon com_left_icon_m"></i>修改密码</a></span>
			</li>
			
			
			<li {yun:}if $smarty.get.c=="sysnews"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style11" {yun:}/if{/yun}>
				<span><a href="index.php?c=sysnews" title="系统消息"><i class="com_left_icon com_left_icon_msg"></i>系统消息</a></span>
			</li>

			<li {yun:}if $smarty.get.c=="msg"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
				<span><a href="index.php?c=msg" title="求职咨询"><i class="com_left_icon com_left_icon_zx"></i>求职咨询</a></span>
			</li>
			{yun:}if $config.sy_ask_web==1{/yun}
			<li class="style09">
				<span>
					<a href="{yun:}url m=ask c=friend a=myquestion uid=$uid{/yun}" target="_blank" title="我的问答">
						<i class="com_left_icon com_left_icon_ask"></i>我的问答
					</a>
				</span>
			</li>
         	{yun:}/if{/yun}
        	<li {yun:}if $smarty.get.c=="yqmb"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style05" {yun:}/if{/yun}>
				<span><a href="index.php?c=yqmb" title="面试模板"><i class="com_left_icon com_left_icon_ms"></i>面试模板</a></span>
			</li>
			<li {yun:}if $smarty.get.c=="report" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style04" {yun:}/if{/yun}>
				<span><a href="index.php?c=report&act=show" title="投诉记录"><i class="com_left_icon com_left_icon_lietou"></i>投诉记录</a></span>
			</li>
		</ul>
		
		{yun:}if empty($spid){/yun}
			<ul class="left_nav_ul   {yun:}if $js_def!=6{/yun}none{yun:}/if{/yun}" id='def6'>
				<li {yun:}if $smarty.get.c=="info"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style01"{yun:}/if{/yun}>
					<span><a href="index.php?c=info" title="基本信息"><i class="com_left_icon com_left_icon_info"></i>基本信息</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="uppic"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style08" {yun:}/if{/yun}>
					<span><a href="index.php?c=uppic" title="企业LOGO"><i class="com_left_icon com_left_icon_logo"></i>企业Logo</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="map"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style02" {yun:}/if{/yun}>
					<span><a href="index.php?c=map" title="企业地图"><i class="com_left_icon com_left_icon_map"></i>企业地图</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="news"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
					<span><a href="index.php?c=news" title="企业新闻"><i class="com_left_icon com_left_icon_news"></i>企业新闻</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="show"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style05" {yun:}/if{/yun}>
					<span><a href="index.php?c=show" title="企业环境"><i class="com_left_icon com_left_icon_hj"></i>企业环境</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="product"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style04" {yun:}/if{/yun}>
					<span><a href="index.php?c=product" title="企业产品"><i class="com_left_icon com_left_icon_cp"></i>企业产品</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="comtpl"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style09" {yun:}/if{/yun}>
					<span><a href="index.php?c=comtpl" title="模板切换"><i class="com_left_icon com_left_icon_mb"></i>企业模板</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="banner"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style09" {yun:}/if{/yun}>
					<span><a href="index.php?c=banner" title="企业横幅"><i class="com_left_icon com_left_icon_mb"></i>企业横幅</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="binding"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span><a href="index.php?c=binding"><i class="com_left_icon com_left_icon_rz"></i>账户认证</a></span>
				</li>
			</ul>
		{yun:}/if{/yun}
		
	</div>
</div>

<script>
$(function(){
	$('.left_box_nav_list li').click(function(){

		var datadef = $(this).attr('data-def');
		$('.left_nav_ul').addClass('none');
		$('#def'+datadef).removeClass('none');
		$('.left_box_nav_cur').removeClass('left_box_nav_cur');
		$(this).addClass('left_box_nav_cur');
	});
})
</script>