{yun:}include file="$comstyle/header.htm"{/yun}

<div class="w1000">
<div class="admin_mainbody">
{yun:}include file="$comstyle/left.htm"{/yun}

<div class=right_box>
	<div id="grow_freedom" class="grow_mod_wrap my_freedom" style="padding:0px;border:none;">
		<div class="member_data">
			<div class="member_data_left">
				<div class="member_data_left_name">尊敬的企业用户：</div>
				
				<div class="mt10">您当前是：<span class="comindex_money_pd_s">{yun:}$statis.rating_name{/yun}</span></div>
				
				<div class="member_data_tip mt10"> 
					服务到期为：
					{yun:}if $statis.vip_etime > $todayStart{/yun}
						{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - {yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}
					{yun:}else if $statis.vip_etime==0{/yun}
						{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - 永久
					{yun:}else{/yun}
						{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - 
						<span class="comindex_money_pd_s">{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}</span> 
						<a href="index.php?c=right" class="cblue">立即开通</a> 
					{yun:}/if{/yun} 
				</div>

			</div>

			<div class="member_data_right">
				<ul>
					<li> 
						<span class="member_data_right_n"> 
							{yun:}if $statis.rating_type!='2'{/yun}{yun:}$statis.job_num{/yun}{yun:}else{/yun}不限{yun:}/if{/yun} 
						</span>
						<div class="member_data_right_p">剩余职位数</div>
					</li>
					<li> 
						<span class="member_data_right_n"> 
							{yun:}if $statis.rating_type!='2'{/yun}{yun:}$statis.down_resume{/yun}{yun:}else{/yun}不限{yun:}/if{/yun} 
						</span>
						<div class="member_data_right_p">剩余简历数</div>
					</li>
					<li> 
						<span class="member_data_right_n"> 
							{yun:}if $statis.rating_type!='2'{/yun}{yun:}$statis.invite_resume{/yun}{yun:}else{/yun}不限{yun:}/if{/yun} 
						</span>
						<div class="member_data_right_p">剩余邀请数</div>
					</li>
				</ul>
			</div>
		</div>

		<div class=admincont_box style="padding:0px; margin-top:20px;">
			<iframe id="fdingdan"  name="fdingdan" onload="returnmessage('fdingdan');" style="display:none"></iframe>
			
			<div class="package_tit"><span class="com_tit_span">选择适合您的企业VIP套餐</span></div>
			
			<div class="report_uaer_list ">
				<ul>
					{yun:}if $config.com_vip_type==2{/yun}
						<li class="report_uaer_list_cur"><a href="index.php?c=right" >套餐会员</a></li>
					{yun:}/if{/yun}
					
					{yun:}if $config.com_vip_type==1{/yun}
						<li class="report_uaer_list_cur"><a href="index.php?c=right&act=time" >时间会员</a></li>
					{yun:}/if{/yun}
					
					{yun:}if $config.com_vip_type==0{/yun}
						<li class="report_uaer_list_cur"><a href="index.php?c=right" >套餐会员</a></li>
						<li><a href="index.php?c=right&act=time" >时间会员</a></li>
					{yun:}/if{/yun}
					
					{yun:}if $statis.rating_type != 2 && !$vipIsDown && $config.com_integral_online != 4 {/yun}
					<li><a href="index.php?c=right&act=added" >增值包</a></li>
					{yun:}/if{/yun}
				</ul>
			</div>

			<div class="vip_tip"> 我们为您提供多样化的套餐服务，您可以根据业务需要选择短期招聘或全年招聘。 </div>
			<div class="vip_box">
				<ul>
					{yun:}foreach from=$rows item=v{/yun}
						{yun:}if $v.service_time>0{/yun}
							<li class="vip_box_list">
								<div class="vip_box_left">
									<div class="vip_box_left_name">{yun:}$v.name{/yun}<i class="vip_box_left_name_line"></i></div>
									<div class="vip_box_left_money_b"> 
										{yun:}if $config.com_integral_online==3 && $config.member_meal!=1{/yun} 
											<span class="" id="need_integral{yun:}$v.id{/yun}"> 
												{yun:}if $v.time_start < time()&& $v.time_end > time(){/yun}
													{yun:}$v.yh_price * $config.integral_proportion{/yun}
												{yun:}else{/yun}
													{yun:}$v.service_price * $config.integral_proportion{/yun}{yun:}/if{/yun}
											</span> 
											{yun:}if $v.time_start < time()&& $v.time_end > time(){/yun}
												<div class="vip_box_left_money_yj">
													原价：<i>{yun:}$v.service_price * $config.integral_proportion{/yun}</i>
												</div>
											{yun:}/if{/yun}
										{yun:}else{/yun} 
											<span class="vip_box_left_money" id="need_price{yun:}$v.id{/yun}">
												<em class="vip_box_left_money_y">￥</em>
												{yun:}if $v.time_start < time()&& $v.time_end > time(){/yun}
													{yun:}$v.yh_price{/yun}
												{yun:}else{/yun}
													{yun:}$v.service_price{/yun}
												{yun:}/if{/yun}
											</span> 
											元/
											<span>
												{yun:}if $v.service_time>0{/yun}{yun:}$v.service_time{/yun}天{yun:}else{/yun}永久{yun:}/if{/yun} 
											</span> 
											{yun:}if $v.time_start < time()&& $v.time_end > time(){/yun}
												<div class="vip_box_left_money_yj">原价：<i>{yun:}$v.service_price{/yun}</i></div>
											{yun:}/if{/yun}
										{yun:}/if{/yun}
										{yun:}if $config.com_integral_online==3 && $config.member_meal!=1{/yun}
											{yun:}$config.integral_pricename{/yun}
										{yun:}/if{/yun} 
									</div>
								</div>
								<div class="vip_box_table">
									<table>
										<tr>
											<td><div class="vip_box_data">{yun:}$v.job_num{/yun}</div>发布职位数 </td>
											<td><div class="vip_box_data">{yun:}$v.breakjob_num{/yun}</div>刷新职位数</td>
											<td><div class="vip_box_data">{yun:}$v.resume{/yun}</div>下载简历数</td>
											<td><div class="vip_box_data">{yun:}$v.interview{/yun}</div>邀请面试数</td>
											<td><div class="vip_box_data">{yun:}$v.zph_num{/yun}</div>招聘会次数</td>
											<td><div class="vip_box_data">{yun:}$v.top_num{/yun}</div>置顶天数</td>
											<td><div class="vip_box_data">{yun:}$v.urgent_num{/yun}</div>紧急天数</td>
											<td><div class="vip_box_data">{yun:}$v.rec_num{/yun}</div>推荐天数</td>
											
										</tr>
									</table>
								</div>
								<div class="vip_box_sm"> 
									<span class="vip_box_sm_s">套餐说明：</span> 
									
									{yun:}if $v.explains{/yun}{yun:}$v.explains{/yun}{yun:}else{/yun}{yun:}$v.name{/yun}{yun:}/if{/yun}
									
									{yun:}if $v.integral_buy>0{/yun}赠送{yun:}$v.integral_buy{/yun}{yun:}$config.integral_pricename{/yun}{yun:}/if{/yun}
									
									
									<a href="javascript:buyVip('{yun:}$v.id{/yun}');" class="vip_box_vip">立即购买</a>
								</div>
							</li>
						{yun:}/if{/yun}    
					{yun:}foreachelse{/yun}
						没有套餐会员
					{yun:}/foreach{/yun}
				<ul>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<style>
	.serve_zz_h_nmb_tcjg_box{width:100%; text-align:center; padding-bottom:10px;}
	.serve_zz_h_nmb_tcjg{ font-size:14px;color:#999; text-decoration:line-through; font-weight:normal}
</style>
<script>
	
	$(function(){
	 	$(".shuoming").hover(
	 		function(){
	 			$(this).find('.com_grade_smbox_cont').show();
	 		},
	 		function(){
	 			$(this).find('.com_grade_smbox_cont').hide();
	 		}
	 	);
	});

	$(document).ready(function() {
		$(".com_grade_smicon").hover(function() {
	        var pid=$(this).attr("pid");
			$("#rating"+pid).show();
			$("#ratingtu"+pid).show();
	    },function(){
			var pid=$(this).attr("pid");
			$("#rating"+pid).hide();
			$("#ratingtu"+pid).hide();
		});
	});
 
</script> 
{yun:}include file="$comstyle/footer.htm"{/yun}