<rule name="jobdira">
<match url="^job/zp([0-9a-zA-Z]+)/" />
<action type="Rewrite" url="job/index.php?c=search&amp;ejob={R:1}" />
</rule>

<rule name="jobdirb">
	<match url="^job/([0-9a-zA-Z]+)/" />
	<action type="Rewrite" url="job/index.php?c=search&amp;ecity={R:1}" />
</rule>

<rule name="jobdirc">
	<match url="^job/([0-9a-zA-Z]+)/zp([0-9a-zA-Z]+)/" />
	<action type="Rewrite" url="job/index.php?c=search&amp;ecity={R:1}&amp;ejob={R:2}" />
</rule>

<rule name="jobdird">
	<match url="^job/zp([0-9a-zA-Z]+)/index.php?(.*)" />
	<action type="Rewrite" url="job/index.php?{QUERY_STRING}&amp;ejob={R:1}" />
</rule>

<rule name="jobdire">
	<match url="^job/([0-9a-zA-Z]+)/index.php?(.*)" />
	<action type="Rewrite" url="job/index.php?{QUERY_STRING}&amp;ecity={R:1}" />
</rule>

<rule name="jobdirf">
	<match url="^job/([0-9a-zA-Z]+)/zp([0-9a-zA-Z]+)/index.php?(.*)" />
	<action type="Rewrite" url="job/index.php?{QUERY_STRING}&amp;ecity={R:1}&amp;ejob={R:2}" />
</rule>

<rule name="resumedira">
	<match url="^resume/qz([0-9a-zA-Z]+)/" />
	<action type="Rewrite" url="resume/index.php?c=search&amp;ejob={R:1}" />
</rule>

<rule name="resumedirb">
	<match url="^resume/([0-9a-zA-Z]+)/" />
	<action type="Rewrite" url="resume/index.php?c=search&amp;ecity={R:1}" />
</rule>

<rule name="resumedirc">
	<match url="^resume/([0-9a-zA-Z]+)/zp([0-9a-zA-Z]+)/" />
	<action type="Rewrite" url="resume/index.php?c=search&amp;ecity={R:1}&amp;ejob={R:2}" />
</rule>

<rule name="resumedird">
	<match url="^resume/qz([0-9a-zA-Z]+)/index.php?(.*)" />
	<action type="Rewrite" url="resume/index.php?{QUERY_STRING}&amp;ejob={R:1}" />
</rule>

<rule name="resumedire">
	<match url="^resume/([0-9a-zA-Z]+)/index.php?(.*)" />
	<action type="Rewrite" url="resume/index.php?{QUERY_STRING}&amp;ecity={R:1}" />
</rule>

<rule name="resumedirf">
	<match url="^resume/([0-9a-zA-Z]+)/zp([0-9a-zA-Z]+)/index.php?(.*)" />
	<action type="Rewrite" url="resume/index.php?{QUERY_STRING}&amp;ecity={R:1}&amp;ejob={R:2}" />
</rule>