<div class="clear"></div>
<div class=foot>
	<div class="copyright">{yun:}$config.sy_webcopyright{/yun}{yun:}$config.sy_webrecord{/yun}
		<div class="">地址:{yun:}$config.sy_webadd{/yun} 电话(Tel):{yun:}$config.sy_freewebtel{/yun}
			EMAIL:{yun:}$config.sy_webemail{/yun}</div>
	</div>
</div>
<div id="uclogin" style="display:none"></div>
<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>


<!-- layui 当前显示弹出框index-->
<input type='hidden' id="layindex" value="">
{yun:}include file="$temstyle/member/public/changeutype.htm"{/yun}

</body>
</html>
