<link rel="stylesheet" href="{yun:}$wap_style{/yun}/hb/reset.css?v={yun:}$config.cachecode{/yun}" type="text/css" />

<!--公用顶部导航栏start-->
<section class='zhongxin'>


	<div>
		<ul class="poster-list-a pdb10 overflow ">
		
			<li class="">
				<div class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb10_1.png"></div>
					<div class="hb_listbox_name" style="background:#fff;">
						<div class="hb_cz">
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=10&type=img','制式')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=10&type=img&out=10');" >下载</a>
						</div>		
					</div>	
				</div>	
			</li>

			<li class="">
				<div class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb9_1.png"></div>
					<div class="hb_listbox_name"  style="background:#fff;">
						<div class="hb_cz">		
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=9&type=img','创意海报')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=9&type=img&out=9');" >下载</a>
						</div>	
					</div>
				</div>
			</li>

			<li class="">
				<div class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb8_1.png"></div>   
					<div class="hb_listbox_name"  style="background:#fff;"> 
						<div class="hb_cz">
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=8&type=img','招财猫')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=8&type=img&out=8');" >下载</a>
						</div>
					</div>
				</div>
			</li>

			<li class="">
				<div class="hb_listbox">					
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb7_1.png"></div>
					<div class="hb_listbox_name"  style="background:#fff;"> 
						<div class="hb_cz">	
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=7&type=img','挑战自己')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=7&type=img&out=7');" >下载</a>
						</div>
					</div>
				</div>
			</li>

			<li class="">
				<div class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb6_1.png"></div>   
					<div class="hb_listbox_name"  style="background:#fff;"> 
						<div class="hb_cz">
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=6&type=img','合适你就来')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=6&type=img&out=6');" >下载</a>
						</div>	
					</div>
				</div>
			</li>

			<li class="">
				<div class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb5_1.png"></div>   
					<div class="hb_listbox_name"  style="background:#fff;"> 
						<div class="hb_cz">	
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=5&type=img','下一个主角')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=5&type=img&out=5');" >下载</a>
						</div>
					</div>
				</div>
			</li>

			<li class="">
				<div class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb4_1.png"></div>   
					<div class="hb_listbox_name"  style="background:#fff;"> 
									
						<div class="hb_cz">
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=4&type=img','放飞梦想')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=4&type=img&out=4');" >下载</a>
						</div>
					</div>
				</div>
			</li>

			<li class="">
				<div class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb3_1.png"></div>   
					<div class="hb_listbox_name"  style="background:#fff;"> 
						<div class="hb_cz">		
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=3&type=img','与众不同')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=3&type=img&out=3');" >下载</a>
						</div>
					</div>
				</div>
			</li>
				
			<li class="">
				<div class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb2_1.png"></div>   
				
					<div class="hb_listbox_name"  style="background:#fff;"> 
								
						<div class="hb_cz">	
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=2&type=img','门店特制')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=2&type=img&out=2');" >下载</a>
						</div>
					</div>
				</div>
			</li>

			<li class="">
				<div class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb1_1.png"></div>   
					<div class="hb_listbox_name"  style="background:#fff;"> 
						<div class="hb_cz">	
							<a href="javascript:;" onclick="showHbDiv('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=1&type=img','有梦想你就来')">预览</a>
							<a href="javascript:;" onclick="downWhb('index.php?m=admin_company&c=hbshow&id={yun:}$comid{/yun}&hb=1&type=img&out=1');" >下载</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

</section>

<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.1.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>

<script>
	function showHbDiv(url, title){
		layer.open({
			type : 2,
			title : false,
			closeBtn: 0,
			shadeClose : true,
			area : [ '260px', '442px' ],
			content : [url, 'no']
		});
	}
	function downWhb(url){
		layer.open({
			type : 2,
			title : false,
			closeBtn: 0,
			shadeClose : true,
			area : [ '360px', '612px' ],
			content : [url, 'no']
		});
	}
</script>

