{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<link rel="stylesheet" href="{yun:}$wap_style{/yun}/hb/reset.css?v={yun:}$config.cachecode{/yun}" type="text/css" />

<!--公用顶部导航栏start-->
<section class='zhongxin'>

	<div>
		<ul class="poster-list pdb10 overflow ">
		
			<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=10{/yun}" class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb10_1.png"></div>
					<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>
	<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=8{/yun}" class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb8_1.png"></div>   
					<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>
			
			<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=6{/yun}" class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb6_1.png"></div>   
					<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>
			<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=5{/yun}" class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb5_1.png"></div>   
					<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>
			<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=7{/yun}" class="hb_listbox">					
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb7_1.png"></div>
				<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>
			<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=4{/yun}" class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb4_1.png"></div>   
					<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>

			<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=3{/yun}" class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb3_1.png"></div>   
					<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>
				
			<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=2{/yun}" class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb2_1.png"></div>   
					<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>

			<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=1{/yun}" class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb1_1.png"></div>   
					<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>
			<li class="">
				<a href="{yun:}url m=wap c=company a=hbshow id=$smarty.get.id hb=9{/yun}" class="hb_listbox">
					<div class="poster_pic"><img src="{yun:}$wap_style{/yun}/hb/images/hb9_1.png"></div>
					<div class="hb_listbox_name"><span class="hb_listbox_sc">生成</span></div>
				</a>
			</li>

		
			
		</ul>
	</div>
	<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.1.min.js?v={yun:}$config.cachecode{/yun}"></script>

</section>
{yun:}include file="$wapstyle/footer.htm"{/yun} 
