{yun:}include file="$wapstyle/header_cont.htm"{/yun}

<!--结果-->
<div class="evaluate_cjcont">
<div class="evaluate_cjtit">测试结果分析</div>
<div class="evaluate_cjzf"><span class="evaluate_cjzf_n">{yun:}$info.grade{/yun}</span> 分</div>
<div class="evaluate_cjzf_c">您的测评得分</div>
<div class="evaluate_cjzf_p">{yun:}$info.comment_n{/yun}</div>
</div>
<div class="evaluate_cjalltit">结果分析</div>
 {yun:}foreach from=$exambase.result item=v key=key{/yun}
<div class="evaluate_cjlist">
<div class="">成绩：<font color="#FF3300">{yun:}$v.fromscore{/yun}-{yun:}$v.toscore{/yun}</font> 分</div>
<div class="">分析：{yun:}$v.comment{/yun}</div>
</div>
{yun:}/foreach{/yun} 

<div class="evaluate_cs_more_box"><a href="{yun:}url m=wap c=evaluate{/yun}">更多职业测评</a></div>
<div class="evaluate_cs_fx_box">
<a href="javascript:void(0);" id="shareClick"class="evaluate_cs_fx"> <i class="evaluate_cs_fx_icon"></i>  <span class="yun_job_footer_s">分享到朋友圈</span></a>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>
    var config = {
        url: '{yun:}url m=wap c=evaluate a=show id=$exambase.id{/yun}',
        title: '{yun:}$exambase.name{/yun}-{yun:}$config.sy_webname{/yun}',
        desc: '',
        img: '{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}',
        img_title: '{yun:}$exambase.name{/yun}',
        from: '{yun:}$config.sy_webname{/yun}'
    };
</script>

{yun:}include file="$wapstyle/footer.htm"{/yun}