{yun:}include file="$wapstyle/nativeshare.htm"{/yun}


<!--footer   start-->
<div class="yun_footer">
    <div class="yun_footer_fix">
        <ul class="yun_footer_nav">

            <li {yun:}if $indexnav==1{/yun}class="yun_footer_nav_cur" {yun:}/if{/yun}>
                <a href="{yun:}url m=wap{/yun}" id="indexclick" class="yun_footer_a"><i class="yun_footer_nav_icon {yun:}if $indexnav==1{/yun}yun_footer_nav_home_cur{yun:}else{/yun}yun_footer_nav_home{yun:}/if{/yun}"></i>首页</a>
            </li>

            {yun:}if $usertype==1 || !$usertype{/yun}
            <li {yun:}if $smarty.get.c=='job' {/yun}class="yun_footer_nav_cur" {yun:}/if{/yun}>
                <a href="{yun:}url m=wap c=job{/yun}" class="yun_footer_a"><i class="yun_footer_nav_icon {yun:}if $smarty.get.c=='job'{/yun}yun_footer_nav_msg_cur{yun:}else{/yun}yun_footer_nav_msg{yun:}/if{/yun}"></i>职位</a>
            </li>
            {yun:}else{/yun}
            <li {yun:}if $smarty.get.c=='resume' {/yun}class="yun_footer_nav_cur" {yun:}/if{/yun}>
                <a href="{yun:}url m=wap c=resume{/yun}" class="yun_footer_a"><i class="yun_footer_nav_icon {yun:}if $smarty.get.c=='resume'{/yun}yun_footer_nav_jl_cur{yun:}else{/yun}yun_footer_nav_jl{yun:}/if{/yun}"></i>简历</a>
            </li>
            {yun:}/if{/yun}
			{yun:}if $username && ($usertype==1 || $usertype==2 || $usertype==3){/yun}
			<li {yun:}if $smarty.get.c=='sysnews'{/yun}class="yun_footer_nav_cur" {yun:}/if{/yun}>
			<div class="yun_footer_nav_xx">
                <a href="{yun:}url m=wap{/yun}member/index.php?c=sysnews" class="yun_footer_a"><i class="yun_footer_nav_icon {yun:}if $smarty.get.c=='sysnews'{/yun}yun_footer_nav_news_cur{yun:}else{/yun}yun_footer_nav_news{yun:}/if{/yun}"></i>消息</a>
				<a href="javascript:void(0)" class="yun_footer_msg_n"><span id="tzmsgNum"></span></a>
				</div>
            </li>
			{yun:}else{/yun}
			<li>
                <a href="javascript:void(0);" class="moreOptions yun_footer_a" data-more="1"><i class="yun_footer_nav_icon yun_footer_nav_fx"></i>更多</a>
            </li>
			{yun:}/if{/yun}
            {yun:}if !$username{/yun}
            <li {yun:}if $smarty.get.c=='login' {/yun}class="yun_footer_nav_cur" {yun:}/if{/yun}>
                <a href="{yun:}url m=wap c=login{/yun}" class="yun_footer_a"><i class="yun_footer_nav_icon {yun:}if $smarty.get.c=='login'{/yun}yun_footer_nav_user_cur{yun:}else{/yun}yun_footer_nav_user{yun:}/if{/yun}"></i>我的</a>
            </li>
            {yun:}else{/yun}
            <li {yun:}if $membernav==1 && (!$smarty.get.c || ($smarty.get.c && $smarty.get.c!='sysnews')){/yun}class="yun_footer_nav_cur" {yun:}/if{/yun}>
                
                <a href="{yun:}url m=wap{/yun}member" id="memberclick"  class="yun_footer_a"><i class="yun_footer_nav_icon {yun:}if $membernav==1 && (!$smarty.get.c || ($smarty.get.c && $smarty.get.c!='sysnews')){/yun}yun_footer_nav_user_cur{yun:}else{/yun}yun_footer_nav_user{yun:}/if{/yun}"></i>我的
                </a>
            </li>
            {yun:}/if{/yun}
        </ul>
    </div>
</div>
<!--footer   end-->

<footer>
    <div style="width:100%; background:#fff; position:fixed;left:0px;right:0px;bottom:50px;top:0px ; z-index:100000000000;display:none" id="footerjob">
        <div class="foot_nav_close"></div>
        <div class="header_bg">
            <div class="foot_nav_chiose_t">更多栏目选择</div>
        </div>
        <div class="foot_nav_box">

            {yun:}foreach from=$navlist key=key item=v{/yun}
			<dl class="index_navlist" style="height:70px;">
				<a href="{yun:}$v.url_n{/yun}">
					<dt class="index_nav_icon"><image src="{yun:}$v.pic_n{/yun}" ></image></dt>
					<dd>{yun:}$v.name{/yun}</dd>
				</a>
			</dl>
			{yun:}/foreach{/yun}
                        
        </div>
    </div>
</footer>
<div class="yunwap_reg" id="reg_mune" style="display:none">
    <div class="yunwap_close"></div>
    <ul>
        <li>
            <a href="{yun:}url m=wap c=register usertype=2{/yun}"><i class="yunwap_reg_icon yunwap_reg_icon_bg1"><em class="yunwap_reg_icon_bg1p"></em></i>企业注册</a>
        </li>
        <li>
            <a href="{yun:}url m=wap c=register{/yun}"><i class="yunwap_reg_icon yunwap_reg_icon_bg2"><em class="yunwap_reg_icon_bg2p"></em></i>个人注册</a>
        </li>
        
    </ul>
    <div class="yunwap_login">
        <a href="{yun:}url m=wap c=login{/yun}" class="">会员登录</a>
    </div>
</div>

{yun:}if $layer{/yun}
	<input id="layermsg" value="{yun:}$layer.msg{/yun}" type="hidden">
	<input id="layerurl" value="{yun:}$layer.url{/yun}" type="hidden">
	<script>
	    $(document).ready(function() {
	        islayer();
	    });
	</script>
{yun:}/if{/yun}

<script>
    var wapurl = "{yun:}url m=wap{/yun}",
        weburl = "{yun:}$config.sy_weburl{/yun}",
        pricename = "{yun:}$config.integral_pricename{/yun}",
        integral_pricename = "{yun:}$config.integral_pricename{/yun}",
        code_web = '{yun:}$config.code_web{/yun}',
        code_kind = '{yun:}$config.code_kind{/yun}';
    $(document).ready(function() {
        $.get(wapurl + "/index.php?c=ajax&a=msgNum", function(data) {
            var datas = eval("(" + data + ")");
            if(datas.usertype == 1) {
                if(datas.msgNum) {
					$('#sysmsgnum').html(datas.msgNum);
                    $('#tzmsgNum').html(datas.msgNum);
                    $('#tzmsgNum').show();
                }
				if(datas.wkyqnum>0){
					$('#wkyqnum').html(datas.wkyqnum);
					$('#wkyqnum').show();
				}
				$('#yqnum').html(datas.yqnum);
				$('#sq_jobnum').html(datas.sq_jobnum);
				$('#fav_jobnum').html(datas.fav_jobnum);
				$('#atn_num').html(datas.atn_num);
            }
            if(datas.usertype == 2) {
                if(datas.msgNum) {
					$('#sysmsgnum').html(datas.msgNum);
                    $('#tzmsgNum').html(datas.msgNum);
                    $('#tzmsgNum').show();
                }
				$('#sqnum').html(datas.sqnum);
				$('#msgnum').html(datas.msgnum);
				$('#attention_menum').html(datas.attention_menum);
				$('#look_jobnum').html(datas.look_jobnum);
				$('#companyjobnum').html(datas.companyjobnum);
				$('#talent_pool_num').html(datas.talent_pool_num);
                
            }
            if(datas.usertype == 3) {
                if(datas.msgNum) {
					$('#sysmsgnum').html(datas.msgNum);
                    $('#tzmsgNum').html(datas.msgNum);
                    $('#tzmsgNum').show();
				}
				$('#ypnum').html(datas.ypnum);
				$('#jobnum').html(datas.jobnum);
				$('#downnum').html(datas.downnum);
                
            }
        });
        
        $('.moreOptions').on('click', function() {
            $('#footerjob').toggle();
            $('#footerresume').hide();
        });
		  
        $('#footerjob').on('click', function() {
            $('#footerjob').hide();
        });
        $('#reg_mune_box').on('click', function() {
            $('#reg_mune').toggle();
            $('#footerresume').hide();
        });

        $('#reg_mune_box_news').on('click', function() {
            $('#reg_mune').toggle();
            $('#footerresume').hide();
        });

        $('#reg_mune').on('click', function() {
            $('#reg_mune').hide();
        });
        $('#reg_mune_boxs').on('click', function() {
            $('#reg_mune').toggle();
            $('#footerresume').hide();
        });
        $('#reg_mune').on('click', function() {
            $('#reg_mune').hide();
        });
    });

    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端

    if(isAndroid) {
        var orginHeight = document.documentElement.clientHeight || document.body.clientHeight;

        window.onresize = function() {

            var resizeHeight = document.documentElement.clientHeight || document.body.clientHeight;

            if(orginHeight * 1 > resizeHeight * 1) {
                $('.yun_footer_fix').css('display', 'none');

                document.activeElement.scrollIntoView(false);

            } else {
                $('.yun_footer_fix').css('display', 'block');
            }
        }
    }
	/**
	 * 返回前一页（或关闭本页面）
	 * <li>如果没有前一页历史，则直接返回首页</li>
	 */
	function goBack(){
		if (navigator.userAgent.indexOf('Firefox') >= 0 ||
			navigator.userAgent.indexOf('Opera') >= 0 ||
			navigator.userAgent.indexOf('Safari') >= 0 ||
			navigator.userAgent.indexOf('Chrome') >= 0 ||
			navigator.userAgent.indexOf('WebKit') >= 0){
 
			if(window.history.length > 1){
				window.history.go( -1 );
			}else{
				location.href = wapurl;
			}
		}else{ //未知的浏览器
			window.history.go( -1 );
		}
	}

</script>
{yun:}baidu{/yun} 
{yun:}if $config.sy_wx_sharelogo{/yun}
<!--微信分享专用-->
<div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'><img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}"></div>
{yun:}/if{/yun}
<div id='uclogin' class='none'></div>
<div class='none'>{yun:}tongji{/yun}</div>

</body>

</html>