{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<section class="wap_member">
  <div class="yun_wap_addresume_box">
    <form action="" method="post" >

      <div class="">
        
        <div class="wap_reportlist_box">
         <div class="wap_reportlist_tit"> 选择举报原因
        </div>
		<div class="mui-input-row mui-checkbox">
			<span class="jb_infochlose">无人接听</span>
			<input name="reason[]" id="reason_1"  title="无人接听" value="无人接听" type="checkbox" >
		</div>
		<div class="mui-input-row mui-checkbox">
			<span class="jb_infochlose">打广告</span>
			<input name="reason[]" id="reason_2"  title="打广告" value="打广告" type="checkbox" >
		</div>
		<div class="mui-input-row mui-checkbox">
			<span class="jb_infochlose">找到工作</span>
			<input name="reason[]" id="reason_3"  title="找到工作" value="找到工作" type="checkbox" >
		</div>
		<div class="mui-input-row mui-checkbox">
			<span class="jb_infochlose">信息不实</span>
			<input name="reason[]" id="reason_4"  title="信息不实" value="信息不实" type="checkbox" >
		</div>
		<div class="mui-input-row mui-checkbox">
			<span class="jb_infochlose">号码错误</span>
			<input name="reason[]" id="reason_5"  title="号码错误" value="号码错误" type="checkbox" >
		</div>
		<div class="mui-input-row mui-checkbox">
			<span class="jb_infochlose">骗子</span>
			<input name="reason[]" id="reason_6"  title="骗子" value="骗子" type="checkbox" >
		</div>
         <div class="" >
        <input type="submit" name="submit" value="举报" class="wap_reportlist_tit_bth" style="border:none">
      </div>  </div>
      </div>

   
     
    </form>
  </div>
</section>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.1.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/footer.htm"{/yun} 
