{yun:}include file="$wapstyle/header_cont.htm"{/yun}

<script type="text/javascript">
	var wapurl = "{yun:}url m=wap{/yun}";
	var integral_pricename = '{yun:}$config.integral_pricename{/yun}';
	var weburl = "{yun:}$config.sy_weburl{/yun}";
	var isHeight = "{yun:}$Info.height_status{/yun}";
</script>

<div class="header_navlist">
    <a href="javascript:void(0);" class="moreOptions"><i class="usernaviconfont"></i></a>
</div>

<style>
	.header_h {
		display: none;
	}
	.yun_footer {
		display: none;
	}
</style>

<form name="myform" method="post" action="">
	
	<div class="yun_newedition_resumeheader">
		<div class="yun_newedition_resumeheader_c">
			<div class="yun_newedition_resumeheader_box">
				<a href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}" class="yun_newedition_resumeheader_name">简历详情</a> 
				{yun:}if $Info.talent_pool{/yun} 
                	<span class="yun_newedition_resumeheader_ysc"  title="已收藏"></span>
             	{yun:}else{/yun} 
					<a href="javascript:talent_pool('{yun:}$Info.uid{/yun}','{yun:}$Info.id{/yun}');" class="yun_newedition_resumeheader_sc" title="收藏"></a>
				{yun:}/if{/yun} 
                
                
                
                
                
				{yun:}if $config.sy_h5_share==1{/yun}
					<a href="javascript:void(0);" data-url="{yun:}url m=wap c=resume a=share id=$Info.id{/yun}" id="shareClick" class="yun_newedition_resumeheader_fx"></a>
				{yun:}else{/yun}
					<a href="javascript:void(0);" id="shareClick" class="yun_newedition_resumeheader_fx"></a>
				{yun:}/if{/yun} 
			</div>
		</div>
	</div>
	
	<div class="usermem_headerbg">
	<div class="usermem_headercont_all">
	<div class="usermem_headercont">
	<div class="usermem_header_info">
		<div class="usermem_header_infopic">
			<img src="{yun:}$Info.photo{/yun}" width="80" height="80">
			{yun:}if $Info.sex == 2 {/yun}
				<i class="yun_newedition_resume_userxb"></i>
			{yun:}elseif $Info.sex == 1{/yun}
				<i class="yun_newedition_resume_userxb_n"></i>
			{yun:}/if{/yun}
		</div>
		<div class="usermem_header_info_name">{yun:}if $Info.m_status==1{/yun} 
				{yun:}$Info.name{/yun}
			{yun:}else{/yun} 
				{yun:}$Info.username_n{/yun} 
			{yun:}/if{/yun}
			</div>
		<div class="usermem_header_info_city">
		{yun:}if $Info.height{/yun}{yun:}$Info.height{/yun}cm<i class="resume_user_info_p_line">|</i> {yun:}/if{/yun} 
			{yun:}if $Info.weight{/yun}{yun:}$Info.weight{/yun}kg<i class="resume_user_info_p_line">|</i>{yun:}/if{/yun} 
			{yun:}if $Info.user_marriage{/yun}{yun:}$Info.user_marriage{/yun}<i class="resume_user_info_p_line">|</i>{yun:}/if{/yun} 
			{yun:}if $Info.nationality{/yun}{yun:}$Info.nationality{/yun}<i class="resume_user_info_p_line">|</i>{yun:}/if{/yun} 
			{yun:}if $Info.living{/yun}现居{yun:}$Info.living{/yun}
			{yun:}/if{/yun}
		{yun:}if $Info.moblie_status==1 {/yun}<span class="yun_resume_info_sjrz"></span>{yun:}/if{/yun}
			{yun:}if $Info.idcard_status=='1'{/yun} <i class="yun_resume_info_sfrz"></i>{yun:}/if{/yun}</div>
	
		{yun:}if $Info.jobstatus{/yun}
			<span class="usermem_header_info_zt">{yun:}$Info.jobstatus{/yun}</span>
			{yun:}/if{/yun}
			
	</div>
	<div class="usermem_header_info_pb">
	<div class="usermem_header_info_p"><div class="usermem_header_info_n">{yun:}$Info.user_exp{/yun}</div>工作经验	</div>
	<div class="usermem_header_info_p"><div class="usermem_header_info_n">{yun:}$Info.useredu{/yun}</div>最高学历	</div>
	<div class="usermem_header_info_p usermem_header_info_none"><div class="usermem_header_info_n">{yun:}if $Info.age==0{/yun}保密{yun:}else{/yun}{yun:}$Info.age{/yun}岁{yun:}/if{/yun}</div>年龄	</div>
	
	</div>
	</div>
		</div>
		
	</div>
	<div style="height:70px; background:#fff"></div>
	
	
	<div class="yun_newedition_resume_showbox" style=" padding-top:10px; padding-bottom:10px;">
		<div class="yun_newedition_resume_show_tit">求职意向</div>
			

		<div class="usermem_yxjob">{yun:}$Info.customjob{/yun}</div>
		<div class="usermem_yxjobinfo">
		{yun:}$Info.salary{/yun}<span class="usermem_yxline">|</span>{yun:}foreach from=$Info.expectcity key=key item=v{/yun} 
					{yun:}if $key <5{/yun} <span class="">{yun:}$v{/yun}</span>{yun:}/if{/yun}
				{yun:}/foreach{/yun}
		{yun:}if $Info.type{/yun}
				<span class="usermem_yxline">|</span>{yun:}$Info.type{/yun}
			{yun:}/if{/yun}
		{yun:}if $Info.report{/yun}
				<span class="usermem_yxline">|</span>{yun:}$Info.report{/yun}
			{yun:}/if{/yun}
			</div>
			<div class="usermem_yxqz">{yun:}foreach from=$Info.expectjob key=key item=v{/yun} 
					{yun:}if $key <5{/yun} <span class="">{yun:}$v{/yun}</span>{yun:}/if{/yun}
				{yun:}/foreach{/yun}{yun:}$Info.hy{/yun}</div>
				{yun:}if $Info.arrayTag{/yun}
			<div class="yun_resume_exp_p">
				{yun:}foreach from=$Info.arrayTag item=v{/yun} 
					<span class="resume_user_bq">{yun:}$v{/yun}</span> 
				{yun:}/foreach{/yun}
			</div>
		{yun:}/if{/yun}
				<div class="dxrq">
{yun:}$Info.lastupdate{/yun} 更新</div>		
	</div>

	<section>
		<div class="yun_newedition_resume_showbox mt10" id='tel'>
		

			<div style="clear: both"></div>
			
			{yun:}if ($Info.uid == $uid && $usertype == 1) || $Info.m_status == 1{/yun}
				<div class="yun_newedition_resume_show_tit">联系方式</div>
				<div class="com_post_msg_bot" style="padding-left: 0px;">
					<aside class="wap_touch_img">
						<em>联系手机：</em>{yun:}$Info.telphone{/yun}
					</aside>
					
					{yun:}if $Info.basic_info=='1' && $Info.telhome{/yun}
						<aside class="wap_touch_img">
							<em>联系座机：</em>{yun:}$Info.telhome{/yun}
						</aside>
					{yun:}/if{/yun} 
					
					{yun:}if $Info.email{/yun}
						<aside class="wap_touch_img">
							<em>联系邮箱：</em>{yun:}$Info.email{/yun}
						</aside>
					{yun:}/if{/yun} 
					
					{yun:}if $Info.qq{/yun}
						<div class="resume_Intention">
							<i class="one_vita_Intention_i one_vita_red"></i>联系Q Q：{yun:}$Info.qq{/yun}
						</div>
					{yun:}/if{/yun}
					
					{yun:}if $Info.address{/yun}
						<aside class="wap_touch_img">
							<em>详细地址：</em>{yun:}$Info.address{/yun}</span>
						</aside>
					{yun:}/if{/yun} 
					
					{yun:}if $Info.wxewm{/yun}
						<div class="wap_touch_img">
							<em>个人微信：</em><img src="{yun:}$Info.wxewm{/yun}" width="80" height="80">
						</div>
					{yun:}/if{/yun}
				</div>
				
			{yun:}elseif $Info.link_wapmsg{/yun}
							<div class="yun_newedition_resume_show_tit">联系方式</div>
				<div class="com_post_login">
					<div class="com_post_look_toew">
						<div class="look_resume_tel_login">{yun:}$Info.link_wapmsg{/yun}</div>
					</div>
				</div>
				
			{yun:}else{/yun}
			
				<div class="com_post_login">
					<div class="com_post_look_toew">
						<div class="look_resume_tel_login">
							<div class="com_s_logoin_tip">请登录后查看联系方式</div>
							<a href="{yun:}url m=wap c=login{/yun}" class="com_s_logoin">登录</a>
							<a href="{yun:}url m=wap c=register usertype=2{/yun}" class="com_s_reg">注册</a>
						</div>
					</div>
				</div>
				
			{yun:}/if{/yun}
		</div>

	</section>
	
	{yun:}if $resumeCkeck==1{/yun}
		<!--工作经历 -->
		{yun:}if $Info.user_work{/yun}
			<section>
		
				<div class="yun_newedition_resume_showbox mt10">
					<div class="yun_newedition_resume_show_tit">工作经历</div>
		
					<div class="resume_showbox_pd">
						{yun:}foreach from=$Info.user_work item=worklist{/yun}
		
						<div class="resume_jy_list">
							<i class="resume_jy_list_time"></i>
							
							<aside>
								<div class="resume_jy_comname">{yun:}$worklist.name{/yun}</div>
								<div class="resume_time">{yun:}$worklist.sdate|date_format:"%Y-%m"{/yun} {yun:}if $worklist.edate{/yun}至{yun:}$worklist.edate|date_format:"%Y-%m"{/yun}{yun:}else{/yun}至今{yun:}/if{/yun}</div>
								{yun:}if $worklist.title{/yun}
									<div>
								{yun:}$worklist.title{/yun}
									</div>
								{yun:}/if{/yun} 
								{yun:}if $worklist.content{/yun}<div class="resume_p">{yun:}$worklist.content{/yun}</div>	{yun:}/if{/yun}
							</aside>
							
						</div>
						{yun:}/foreach{/yun}
					</div>
					<div class="yun_newedition_resume_showtime">平均工作时长：{yun:}$Info.avghourInfo{/yun}</div>
				</div>
			</section>
		{yun:}/if{/yun}
		<!--教育经历 -->
		{yun:}if $Info.user_edu{/yun}
			<section>
				<div class="yun_newedition_resume_showbox">
					<div class="yun_newedition_resume_show_tit">教育经历</div>
					<div class="resume_showbox_pd">
						{yun:}foreach from=$Info.user_edu item=edulist{/yun}
						<div class="resume_jy_list">
							<i class="resume_jy_list_time"></i>
							<aside>{yun:}$edulist.sdate|date_format:"%Y-%m"{/yun} {yun:}if $edulist.edate{/yun}至{yun:}$edulist.edate|date_format:"%Y-%m"{/yun}{yun:}else{/yun}至今{yun:}/if{/yun}</aside>
							<div class="firm_name_h1_h">{yun:}$edulist.name{/yun}</div>
							{yun:}if $edulist.specialty{/yun}
								<aside>
									<em>所学专业：</em>{yun:}$edulist.specialty{/yun}
								</aside>
							{yun:}/if{/yun} 
							{yun:}if $edulist.education{/yun}
								<aside>
									<em>最高学历：</em>{yun:}$edulist.education_n{/yun}
								</aside>
							{yun:}/if{/yun}
						</div>
						{yun:}/foreach{/yun}
					</div>
				</div>
			</section>
		{yun:}/if{/yun}
		<!--培训经历 -->
		{yun:}if $Info.user_tra{/yun}
			<section>
				<div class="yun_newedition_resume_showbox">
					<div class="yun_newedition_resume_show_tit">培训经历</div>
		
					<div class="resume_showbox_pd">
						{yun:}foreach from=$Info.user_tra item=traininglist{/yun}
						<div class="resume_jy_list">
							<i class="resume_jy_list_time"></i>
							<aside>{yun:}$traininglist.sdate|date_format:"%Y-%m"{/yun} {yun:}if $traininglist.edate{/yun}至{yun:}$traininglist.edate|date_format:"%Y-%m"{/yun}{yun:}else{/yun}至今{yun:}/if{/yun}</aside>
							<div class="firm_name_h1_h">{yun:}$traininglist.name{/yun}</div>
							{yun:}if $traininglist.title{/yun}
								<aside>
									<em>培训方向：</em>{yun:}$traininglist.title{/yun}
								</aside>
							{yun:}/if{/yun} 
							{yun:}if $traininglist.content{/yun}
								<aside>
									<em>培训描述：</em>{yun:}$traininglist.content{/yun}
								</aside>
							{yun:}/if{/yun}
						</div>
						{yun:}/foreach{/yun}
					</div>
				</div>
			</section>
		{yun:}/if{/yun}
		<!--项目经历 -->
		{yun:}if $Info.user_xm{/yun}
			<section>
				<div class="yun_newedition_resume_showbox">
					<div class="yun_newedition_resume_show_tit">项目经历</div>
		
					<div class="resume_showbox_pd">
						{yun:}foreach from=$Info.user_xm item=projectlist{/yun}
						<div class="resume_jy_list">
							<i class="resume_jy_list_time"></i>
							<aside>{yun:}$projectlist.sdate|date_format:"%Y-%m"{/yun}  {yun:}if $projectlist.edate{/yun}至{yun:}$projectlist.edate|date_format:"%Y-%m"{/yun}{yun:}else{/yun}至今{yun:}/if{/yun}</aside>
							<div class="firm_name_h1_h">{yun:}$projectlist.name{/yun}</div>
							{yun:}if $projectlist.content{/yun}
								<aside>
									<em>项目内容：</em>{yun:}$projectlist.content{/yun}
								</aside>
							{yun:}/if{/yun} 
							{yun:}if $projectlist.title{/yun}
								<aside>
									<em>担任职位：</em>{yun:}$projectlist.title{/yun}
								</aside>
							{yun:}/if{/yun}
						</div>
						{yun:}/foreach{/yun}
					</div>
				</div>
			</section>
		{yun:}/if{/yun}
		<!--职业技能-->
		{yun:}if $Info.user_skill{/yun}
			<section>
				<div class="yun_newedition_resume_showbox" id="resume_skill muipreview">
					<div class="yun_newedition_resume_show_tit">职业技能</div>
		
					<div class="resume_showbox_pd">
						{yun:}foreach from=$Info.user_skill item=skilllist{/yun}
							<div class="resume_jy_list">
								<i class="resume_jy_list_time"></i>
								<div class="firm_name_h1_h">{yun:}$skilllist.name{/yun}</div>
								{yun:}if $skilllist.longtime{/yun}
									<aside>
										<em>掌握时间：</em>{yun:}$skilllist.longtime{/yun}年
									</aside>
								{yun:}/if{/yun} 
								<aside>
									<em>熟练程度：</em>{yun:}$skilllist.ing_n{/yun}
								</aside>
								{yun:}if $skilllist.picurl{/yun}
									<aside class="muipreview">
										<em>证书图片：</em><img src="{yun:}$skilllist.picurl{/yun}" width="95" height="70" style="vertical-align: middle" />
									</aside>
								{yun:}/if{/yun}
							</div>
						{yun:}/foreach{/yun}
					</div>
				</div>
			</section>
		{yun:}/if{/yun}

		<!--我的作品-->
		{yun:}if $Info.user_show{/yun}
			{yun:}if ($Info.uid == $uid && $usertype == 1) || $Info.m_status == 1{/yun}
			<section>
				<div class="yun_newedition_resume_showbox muipreview" id="resume_usershow">
					<div class="yun_newedition_resume_show_tit">我的作品</div>
					<div class="resume_showbox_pd" style="padding-top: 10px;">
						{yun:}foreach from=$Info.user_show item=v{/yun}
							<div class="resume_showbox_zpimg muipreview">
								{yun:}if $v.picurl{/yun} <img src="{yun:}$v.picurl{/yun}" style="vertical-align: middle" /> {yun:}/if{/yun}
							</div>
						{yun:}/foreach{/yun}
					</div>
				</div>
			</section>
			{yun:}/if{/yun}
		{yun:}/if{/yun}
		<!--其他信息-->
		{yun:}if $Info.user_other{/yun}
			<section>
				<div class="yun_newedition_resume_showbox">
					<div class="yun_newedition_resume_show_tit">其他信息</div>
					<div class="resume_showbox_pd">
						{yun:}foreach from=$Info.user_other item=otherlist{/yun}
							<div class="resume_jy_list">
								<i class="resume_jy_list_time"></i>
								<div class="firm_name_h1_h">{yun:}$otherlist.name{/yun}</div>
								{yun:}if $otherlist.content{/yun}
								<aside><em>内容：</em>{yun:}$otherlist.content{/yun}</aside>
								{yun:}/if{/yun}
							</div>
						{yun:}/foreach{/yun}
					</div>
				</div>
			</section>
		{yun:}/if{/yun}
		
		<!--黏贴简历内容-->
		{yun:}if $Info.doc && $Info.user_doc.doc{/yun}
        <div class="yun_newedition_resume_showbox">
		<div class="yun_newedition_resume_show_tit">简历内容</div>
			<section class="com_post_title">
				
				<div class="user_jl_jy_list">
					<div class="job_jl_list">
						<aside>{yun:}$Info.user_doc.doc{/yun}</aside>
					</div>
				</div>
			</section>
            	</div>
		{yun:}/if{/yun}
		
		<!--自我评价-->
		{yun:}if $Info.description{/yun}
			<section>
				<div class="yun_newedition_resume_showbox">
					<div class="yun_newedition_resume_show_tit">自我评价</div>
		
					<div class="resume_showbox_cont resume_showbox_cont_pj">
						{yun:}$Info.description{/yun}</div>
				</div>
			</section>
		{yun:}/if{/yun}
		
		<!--客服评价-->
	
		{yun:}if $Info.label_n || $Info.content{/yun}
			<section>
				<div class="yun_newedition_resume_showbox mt10">
					<div class="yun_newedition_resume_show_tit">
					客服人工回访
					</div>
					<div class="resume_showbox_cont resume_showbox_cont_pj">
						客服评价：{yun:}$Info.content{/yun}
					<div class="">
						分类标签：{yun:}$Info.label_n{/yun}</div></div>
				</div>
			</section>
		{yun:}/if{/yun}
		
		<section {yun:}if $Info.uid == $uid && $usertype==1{/yun}class="none"{yun:}/if{/yun}>
			<div class="job_show_tip">
				<div class="job_show_tip_jb">
				
				</div>
				<div class="job_show_tip_p">
					<div class="job_show_tip_p_t">
						若该简历为广告简历 或 无意义简历<br>乱写、乱填、您可以 	{yun:}if $usertype=='2'{/yun} 
						<a href="javascript:void(0)" eid={yun:}$Info.id{/yun} uid="{yun:}$Info.uid{/yun}" r_name="{yun:}$Info.username_n{/yun}" class="repeatlist repeat_list"><span class="job_show_tip_tip_i"></span>举报</a>
					{yun:}elseif $uid{/yun} 
						{yun:}if $config.sy_user_change==1{/yun}
						<a href="javascript:void(0)" onclick="layermsg('请先申请企业账户');"  ><span class="job_show_tip_tip_i"></span>举报</a> 
						{yun:}else{/yun}
						<a href="javascript:void(0)" onclick="layermsg('只有企业用户才能举报');"  ><span class="job_show_tip_tip_i"></span>举报</a> 
						{yun:}/if{/yun}
					{yun:}else{/yun} 
						<a href="javascript:void(0)" onclick="pleaselogin('您还未登录企业账号，是否登录？','{yun:}url m=wap c=login{/yun}')"><span class="job_show_tip_tip_i"></span>举报</a> 
					{yun:}/if{/yun}
					</div>
				</div>
			</div>
		</section>
		
	{yun:}else{/yun}
		<section>
			<div class="yun_newedition_resume_showbox mt10">
				<div class="yun_newedition_resume_show_tit">个人简介</div>
				<div class="yun_newedition_resume_nologin">
	
					<div class="yun_newedition_resume_nologin_list">
						{yun:}if $tj.education{/yun}
                        <div class="yun_newedition_resume_mhname">教育经历</div>
							<div class="">{yun:}$tj.edumin{/yun}-{yun:}$tj.edumax{/yun}</div>
							已完成{yun:}$tj.education{/yun}段学业 
						{yun:}/if{/yun}
					</div>
					<div class="yun_newedition_resume_nologin_list">
						{yun:}if $tj.worknum>0{/yun}
                         <div class="yun_newedition_resume_mhname">工作经历</div>
							<div class="">{yun:}$tj.workmin{/yun}-{yun:}$tj.workmax{/yun}</div>
							参加过{yun:}$tj.worknum{/yun}份工作，平均工作时长{yun:}$tj.workavg{/yun}个月，涉及{yun:}$tj.worktit{/yun}等岗位
						{yun:}/if{/yun}
					</div>
					<div class="yun_newedition_resume_nologin_list">
						{yun:}if $tj.xmnum>0{/yun}
                         <div class="yun_newedition_resume_mhname">项目经历</div>
							<div class="">{yun:}$tj.xmmin{/yun}-{yun:}$tj.xmmax{/yun}</div>
							独自完成或参与过{yun:}$tj.xmnum{/yun}个项目，并在其中担任过{yun:}$tj.xmtit{/yun}等职务
						{yun:}/if{/yun}
					</div>
					<div class="yun_newedition_resume_nologin_list">
						{yun:}if $tj.trainnum>0{/yun}
                         <div class="yun_newedition_resume_mhname">培训经历</div>
							<div class="">{yun:}$tj.trainmin{/yun}-{yun:}$tj.trainmax{/yun}</div>
							参加过{yun:}$tj.trainnum{/yun}次培训，进行自我充电，能力提升 
						{yun:}/if{/yun}
					</div>
					{yun:}if $tj.skillnum>0{/yun}
                     
					<div class="yun_newedition_resume_nologin_list">
                    <div class="yun_newedition_resume_mhname">职业技能</div>
							目前已掌握{yun:}$tj.skillnum{/yun}项技能，其中{yun:}$tj.skillpic{/yun}项拥有技能证书
					</div>	
					{yun:}/if{/yun}	
					{yun:}if $tj.shownum>0{/yun}
						<div class="yun_newedition_resume_nologin_list">
						<div class="yun_newedition_resume_mhname">作品案例</div>
						已上传{yun:}$tj.shownum{/yun}份作品案例给招聘企业提前预览</div>
					{yun:}/if{/yun}
					
					<div class="yun_newedition_resume_nologin_tip">
						<a href="javascript:void(0);" onclick="showresdet('{yun:}$config.resume_open_check{/yun}','{yun:}$uid{/yun}')">查看简历详细信息</a>
					</div>
				</div>
			</div>
		</section>
	{yun:}/if{/yun}
 			
		<!--footer-->
	<div class="job_show_foot {yun:}if $Info.uid == $uid{/yun}none{yun:}/if{/yun}">
		<div class="job_show_foot_fixd">
			<div class="job_show_foot_left">
				<div class="job_show_foot_leftlist">

					{yun:}if $Info.m_status=="1"{/yun} 
						<a href="{yun:}if $Info.telphone{/yun} tel:{yun:}$Info.telphone{/yun}{yun:}elseif $Info.telhome{/yun}tel:{yun:}$Info.telhome{/yun} {yun:}/if{/yun}" class="job_show_foot_leftbth"><i class="job_show_foot_leftbth_icon job_show_foot_leftbth_icontel"></i><span class="yun_job_footer_s">电话</span> </a> 
					{yun:}elseif !$username{/yun} 
						<a href="javascript:phone('1')" class="job_show_foot_leftbth"><i class="job_show_foot_leftbth_icon job_show_foot_leftbth_icontel"></i> <span class="yun_job_footer_s">电话</span> </a> 
					{yun:}elseif $usertype!=2&&$usertype !=3 {/yun} 
						<a href="javascript:phone('2')" class="job_show_foot_leftbth"><i class="job_show_foot_leftbth_icon job_show_foot_leftbth_icontel"></i> <span class="yun_job_footer_s">电话</span> </a> 
					{yun:}else{/yun} 
						<a href="javascript:void(0)" onclick="comlink('{yun:}$Info.downresumes{/yun}','{yun:}$Info.id{/yun}')" class="job_show_foot_leftbth"> <i class="job_show_foot_leftbth_icon job_show_foot_leftbth_icontel"></i> <span class="yun_job_footer_s">电话</span> </a> 
					{yun:}/if{/yun}
				</div>
				
				
				<div class="job_show_foot_leftlist">
				{yun:}if $Info.talent_pool{/yun} 
					<span class="job_show_foot_leftbth"><i class=" job_show_foot_leftbth_icon job_show_foot_leftbth_iconysc"></i><span class="yun_job_footer_s yun_job_footer_s_y">已收藏</span></span>
				{yun:}else{/yun} 
					<a href="javascript:talent_pool('{yun:}$Info.uid{/yun}','{yun:}$Info.id{/yun}');" class="job_show_foot_leftbth"><i class="job_show_foot_leftbth_icon job_show_foot_leftbth_iconsc"></i>收藏</a>
				{yun:}/if{/yun}
				</div>
				
			</div>
			
			<div class="job_show_foot_right">
				{yun:}if $Info.userid_msg{/yun} 
					<span class="yun_job_footer_fx_right_ytd_bth">已邀请面试</span>
				{yun:}else{/yun}
					  {yun:}if $usertype==1{/yun}
						{yun:}if $config.sy_user_change==1{/yun}
						<a href="javascript:void(0);" onclick="layermsg('请先申请企业账户')" class="yun_job_footer_fx_right_bth ">面试邀请</a>
						 {yun:}else{/yun} 
						 <a href="javascript:void(0);" onclick="layermsg('请先申请企业账户才能邀请')" class="yun_job_footer_fx_right_bth">面试邀请</a>
						  {yun:}/if{/yun}
					  {yun:}else{/yun}
					  <a href="javascript:void(0);" uid="{yun:}$Info.uid{/yun}" class="yun_job_footer_fx_right_bth sq_resume">面试邀请</a>
					  {yun:}/if{/yun}
				{yun:}/if{/yun}
			</div>
		</div>
	</div>
</form>

<!--以下是查看简历信息弹出框----------------------------------------------------------------------------------->

<!--仅对有职位的企业开放简历明细-->
<div id="fbjob" class="wap_tips" style="width:270px;display: none;">
	<div class="wap_tips_iconbox">
		<i class="wap_tips_icon wap_tips_icon_noresume"></i>
	</div>
	<div class="wap_tips_p">求职者仅对有职位的企业开放简历信息</div>
	<div class="wap_tips_bth">
		<a href="{yun:}url m=wap{/yun}member" class="wap_tips_bth_a">发布职位</a>
	</div>
</div>

<!--查看联系方式后展示简历信息-->
<div id="comlink" class="wap_tips" style="width:270px;display: none;">
	<div class="wap_tips_iconbox">
		<i class="wap_tips_icon wap_tips_icon_noresume"></i>
	</div>
	<div class="wap_tips_p">求职者仅对查看TA联系方式的企业开放简历信息</div>
	<div class="wap_tips_bth">
		<a href="javascript:void(0)" onclick="comlink('{yun:}$Info.downresumes{/yun}','{yun:}$Info.id{/yun}')" class="wap_tips_bth_a">查看联系方式</a>
	</div>
</div>

<!--查看联系方式弹出框 end-->
<div id="bg" style="display: none; z-index: 1000000000"></div>

<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>

<script type="text/javascript">
		
	$(function(){
		'{yun:}if $usertype==2 || $usertype==3{/yun}'
			var eid = '{yun:}$eid{/yun}';
			$.post('index.php?c=resume&a=history',{eid:eid},function(data){
				if(data){
					return true;			
				}
			})
		'{yun:}/if{/yun}'
	}) 

	// 查看联系方式，提示剩余下载简历数
	function isDownResume(eid, num, url) {
		layer.open({
			title : [ '查看联系方式', 'background-color: #FF4351; color:#fff;' ],
			content : '您还可以查看' + num + '份简历，是否查看？',
			btn : [ '查看', '取消' ],
			shadeClose : false,
			yes : function() {
				for_link(eid);
			}
		});
	}

	function for_link(eid) {
		
		var index = layer_load('执行中，请稍候');
		
		$.post("{yun:}url m=wap c=ajax a=forlink{/yun}",{eid : eid},function(data) {
			
			layer.closeAll('loading');
			
			var data   = eval('(' + data + ')');
			var status = data.status;
			var type   = data.type;
			var online = data.online;
			
			if (status == 1) {
				
				var msgList	=	data.msgList;
				layer.open({
					title: [ '温馨提示', 'background-color: #FF4351; color:#fff;' ],
					content: msgList.join('')+'<div class="tjwmz">以上条件尚未满足</div>',
					anim: 'up',
					btn: '我知道了',
					shadeClose: false
				});
			} else if (status == 2) {
				
				layer.open({
					title : [ '温馨提示', 'background-color: #FF4351; color:#fff;' ],
					content : data.msg,
					btn : [ '确认', '取消' ],
					shadeClose : false,
					yes : function() {
						window.location.href = "member/index.php?c=server&server=downresume&id="+ eid;
					}
				});
				
				
			}else if (status == 3) {
				
				location.reload(true);
			} else  {
				
				layermsg(data.msg);
			}
		});
		 
	}

	function talent_pool(uid, eid) {
		$.post("{yun:}url m=wap c=ajax a=talentpool{/yun}", {
			eid : eid,
			uid : uid
		}, function(data) {
			var data = eval('(' + data + ')');
			if (data.state == '0') {
				var sy_user_change = '{yun:}$config.sy_user_change{/yun}';
				if(sy_user_change==1){
					layermsg('请先申请企业账户');
				}else{
					layermsg('只有企业用户才能收藏');
				}
				return false;
			} else if (data.state == '1') {
				layermsg(data.msg, 2, function() {
					location.reload(true);
				});
			} else if (data.state == '2') {
				layermsg(data.msg);
			} else if (data.state == '3') {
				pleaselogin(data.msg, '{yun:}url m=wap c=login{/yun}')
			} else {
				layermsg('对不起，操作出错！');
			}
		});
	}

	function phone(data) {
		if (data == 1) {
			pleaselogin('您还未登录企业账号，是否登录？', '{yun:}url m=wap c=login{/yun}')
		} else if (data == 2) {
			var sy_user_change = '{yun:}$config.sy_user_change{/yun}';
			if(sy_user_change==1){
				layermsg('请先申请企业账户');
			}else{
				layermsg('只有企业用户才能查看');
			}
			return false;
		}
	}
	var config = {
		url : '{yun:}url m=wap c=resume a=share id=$Info.id{/yun}',
		title : '{yun:}$title{/yun}-{yun:}$config.sy_webname{/yun}',
		desc : '',
		img : '{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}',
		img_title : '{yun:}$title{/yun}',
		from : '{yun:}$config.sy_webname{/yun}'
	};
	
	function showresdet(rescheck,uid) {
		
		if(uid){
			if(rescheck==3){
				layer.open({
				  type: 1,
				  title: '温馨提示',
				  closeBtn: 1,
				  style:'width:300px;',
				  border: [10, 0.3, '#000', true],
				  content: $("#fbjob").html()
				});
			}else if(rescheck==4){
				layer.open({
				  type: 1,
				  title: '温馨提示',
				  closeBtn: 1,
				  style:'width:300px;',
				  border: [10, 0.3, '#000', true],
				  content: $("#comlink").html()
				});
			}
		}else{
			pleaselogin('该简历只对登录的企业开放，是否登录？', 'index.php?m=wap&c=login');
		}
	}
	
	function comlink(nums,id){
		
		layer.closeAll();
		
		if(nums > 0){
		
			isDownResume(id,nums,'index.php?m=ajax&c=forlink');
		}else{
			
			for_link(id,'index.php?m=ajax&c=forlink');
		}
	
	}
</script>
<!--微信分享专用---->
<div style='margin: 0 auto; width: 0px; height: 0px; overflow: hidden;'>
	<img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}" />
</div>
{yun:}include file="$wapstyle/public_previewimage.htm"{/yun}
{yun:}include file="$wapstyle/footer.htm"{/yun}
