<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<rewrite>
  <rules>
<rule name="urlRewrite">
    <conditions logicalGrouping="MatchAll">
	<add input="{REQUEST_FILENAME}" pattern=".(html|xml|json|htm|php|php2|php3|php4|php5|phtml|pwml|inc|asp|aspx|ascx|jsp|cfm|cfc|pl|cgi|shtml|shtm|phtm)$" ignoreCase="false" />
	<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" pattern="" ignoreCase="false" />
    </conditions>
</rule>
<rule name="news">
<match url="^news.html$" />
<action type="Rewrite" url="news.html" />
</rule>
<rule name="index">
<match url="^index.html$" />
<action type="Rewrite" url="index.html" />
</rule>
<rule name="diy_c">
<match url="^(.*)/c_(.*)\.html$" />
<action type="Rewrite" url="{R:1}/index.php?yunurl=c_{R:2}" />
</rule>

<rule name="diy_companylist">
<match url="^company/list/(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)\.html$" />
<action type="Rewrite" url="company/index.php?city={R:1}&amp;mun={R:2}&amp;welfare={R:3}&amp;hy={R:4}&amp;pr={R:5}&amp;rec={R:6}&amp;keyword={R:7}&amp;page={R:8}" />
</rule>
<rule name="company">
<match url="^company/(.*)\.html$" />
<action type="Rewrite" url="company/index.php?yunurl={R:1}" />
</rule>

<rule name="ask">
<match url="^ask/(.*)\.html$" />
<action type="Rewrite" url="ask/index.php?yunurl={R:1}" />
</rule>

<rule name="diy_oncelist">
<match url="^once/list/(.*)-(.*)-(.*).html?(.+)$" />
<action type="Rewrite" url="once/index.php?city={R:1}&amp;add_time={R:2}&amp;page={R:3}&amp;keyword={QUERY_STRING}" />
</rule>
<rule name="once">
<match url="^once/(.*)\.html$" />
<action type="Rewrite" url="once/index.php?yunurl={R:1}" />
</rule>

<rule name="diy_tinylist">
<match url="^tiny/list/(.*)-(.*)-(.*)-(.*)-(.*).html?(.+)$" />
<action type="Rewrite" url="tiny/index.php?city={R:1}&amp;sex={R:2}&amp;exp={R:3}&amp;add_time={R:4}&amp;page={R:5}&amp;keyword={QUERY_STRING}" />
</rule>
<rule name="tiny">
<match url="^tiny/(.*)\.html$" />
<action type="Rewrite" url="tiny/index.php?yunurl={R:1}" />
</rule>



<rule name="diy_resumelist">
<match url="^resume/list/(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)\.html?(.+)$" />
<action type="Rewrite" url="resume/index.php?c=search&amp;job={R:1}&amp;city={R:2}&amp;salary={R:3}&amp;age={R:4}&amp;all={R:5}&amp;tp={R:6}&amp;order={R:7}&amp;page={R:8}&amp;keyword={QUERY_STRING}" />
</rule>

<rule name="announcement">
<match url="^announcement/(.*)\.html$" />
<action type="Rewrite" url="announcement/index.php?yunurl={R:1}" />
</rule>



<rule name="map">
<match url="^map/(.*)\.html$" />
<action type="Rewrite" url="map/index.php?yunurl={R:1}" />
</rule>

<rule name="evaluate">
<match url="^evaluate/(.*)\.html$" />
<action type="Rewrite" url="evaluate/index.php?yunurl={R:1}" />
</rule>
<rule name="resume">
<match url="^resume/([0-9]+)\.html$" />
<action type="Rewrite" url="resume/index.php?c=show&id={R:1}" />
</rule>
<rule name="resume">
<match url="^resume/(.*)\.html$" />
<action type="Rewrite" url="resume/index.php?yunurl={R:1}" />
</rule>
<rule name="lietou">
<match url="^lietou/(.*)\.html$" />
<action type="Rewrite" url="lietou/index.php?yunurl={R:1}" />
</rule>


<rule name="trainlist">
<match url="^train/list/(.*)-(.*)-(.*)-(.*)-(.*)-(.*)\.html?(.+)$" />
<action type="Rewrite" url="train/index.php?c={R:1}&amp;city={R:2}&amp;hy={R:3}&amp;all={R:4}&amp;orderby={R:5}&amp;page={R:6}&amp;keyword={QUERY_STRING}" />
</rule>

<rule name="train">
<match url="^train/(.*)\.html$" />
<action type="Rewrite" url="train/index.php?yunurl={R:1}" />
</rule>
<rule name="wap">
<match url="^wap/(.*)\.html(.*)$" />
<action type="Rewrite" url="wap/index.php?yunurl={R:1}" />
</rule>
<rule name="zph">
<match url="^zph/(.*)\.html$" />
<action type="Rewrite" url="zph/index.php?yunurl={R:1}" />
</rule>
<rule name="zphnet">
<match url="^zphnet/(.*)\.html$" />
<action type="Rewrite" url="zphnet/index.php?yunurl={R:1}" />
</rule>
<rule name="m">
<match url="^m_(.*)\.html$" />
<action type="Rewrite" url="index.php?yunurl=m_{R:1}" />
</rule>
<rule name="c">
<match url="^c_(.*)\.html$" />
<action type="Rewrite" url="index.php?yunurl=c_{R:1}" />
</rule>

<rule name="partlist">
<match url="^part/list/(.*)-(.*)-(.*)-(.*)-(.*)\.html?(.+)$" />
<action type="Rewrite" url="part/index.php?city={R:1}&amp;part_type={R:2}&amp;cycle={R:3}&amp;order={R:4}&amp;page={R:5}&amp;keyword={QUERY_STRING}" />
</rule>

<rule name="part">
<match url="^part/(.*)\.html$" />
<action type="Rewrite" url="part/index.php?yunurl={R:1}" />
</rule>
<rule name="login">
<match url="^login/(.*)\.html$" />
<action type="Rewrite" url="login/index.php?yunurl={R:1}" />
</rule>
<rule name="register">
<match url="^register/(.*)\.html$" />
<action type="Rewrite" url="register/index.php?yunurl={R:1}" />
</rule>
<rule name="diy_joblist">
<match url="^job/list/(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)\.html?(.+)$" />
<action type="Rewrite" url="job/index.php?c=search&amp;job={R:1}&amp;city={R:2}&amp;salary={R:3}&amp;all={R:4}&amp;tp={R:5}&amp;cert={R:6}&amp;order={R:7}&amp;page={R:8}&amp;keyword={QUERY_STRING}" />
</rule>


<rule name="job">
<match url="^job/(.*)\.html$" />
<action type="Rewrite" url="job/index.php?c=comapply&amp;id={R:1}" />
</rule>
<rule name="jobsearch">
<match url="^job/(.*)\.html$" />
<action type="Rewrite" url="job/index.php?yunurl={R:1}" />
</rule>
<rule name="companyshow">
<match url="^company/company-show-(.*)\.html$" />
<action type="Rewrite" url="company/index.php?id={R:1}" />
</rule>
<rule name="companytp">
<match url="^company/(.*)/(.*)\.html$" />
<action type="Rewrite" url="company/index.php?tp={R:1}&amp;id={R:2}" />
</rule>
<rule name="lietoushow">
<match url="^lietou/(.*)\.html$" />
<action type="Rewrite" url="lietou/index.php?c=job&amp;id={R:1}" />
</rule>
<rule name="article">
<match url="^article/(.*)\.html$" />
<action type="Rewrite" url="article/index.php?m=article&amp;c=show&amp;id={R:1}" />
</rule>

<rule name="school_joblist">
<match url="^school/joblist/(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)\.html?(.+)$" />
<action type="Rewrite" url="school/index.php?c=job&amp;city={R:1}&amp;edu={R:2}&amp;uptime={R:3}&amp;pr={R:4}&amp;job1={R:5}&amp;job1_son={R:6}&amp;job_post={R:7}&amp;page={R:8}&amp;keyword=%{QUERY_STRING}" />
</rule>

<rule name="school_xjhlist">
<match url="^school/xjhlist/(.*)-(.*)-(.*)-(.*)-(.*)\.html?(.+)$" />
<action type="Rewrite" url="school/index.php?c=xjh&amp;city={R:1}&amp;level={R:2}&amp;adtime={R:3}&amp;tp={R:4}&amp;page={R:5}&amp;keyword=%{QUERY_STRING}" />
</rule>

<rule name="school_yxlist">
<match url="^school/yxlist/(.*)-(.*)-(.*)-(.*)\.html?(.+)$" />
<action type="Rewrite" url="school/index.php?c=academy&amp;city={R:1}&amp;categty={R:2}&amp;level={R:3}&amp;page={R:4}&amp;keyword=%{QUERY_STRING}" />
</rule>

<rule name="school">
<match url="^school/(.*)\.html$" />
<action type="Rewrite" url="school/index.php?yunurl={R:1}" />
</rule>

<rule name="redeem_list">
<match url="^redeem/list/(.*)-(.*)-(.*)-(.*)\.html$" />
<action type="Rewrite" url="redeem/index.php?c=list&amp;intinfo={R:1}&amp;nid={R:2}&amp;tnid={R:3}&amp;page={R:4}" />
</rule>

<rule name="spview_list">
<match url="^spview/list/(.*)-(.*)-(.*)-(.*)\.html$" />
<action type="Rewrite" url="spview/index.php?c=list&amp;city={R:1}&amp;hy={R:2}&amp;pr={R:3}&amp;page={R:4}&amp;keyword=%{QUERY_STRING}" />
</rule>

  </rules>
   </rewrite>
 </system.webServer>
</configuration>